<div class="{{page-state page}} {{if isCurrentPage 'current-page'}} {{if isLoadMax 'load-max'}} {{if isLoadMin 'load-min'}} {{if isUnloadMin 'unload-min'}} {{if isUnloadMax 'unload-max'}} demo_pages_page">
  {{index}}
</div>
