<div class="record-player_read-head" style={{readHeadStyle}}></div>
<div class="record-player_load-horizon" style={{loadHorizonStyle}}></div>
<div class="record-player_unload-horizon-left" style={{unloadHorizonLeftStyle}}></div>
<div class="record-player_unload-horizon-right" style={{unloadHorizonRightStyle}}></div>

<div class="record-player_pages">{{#each pages as |page index|}}<div class="record-player_page {{page-state page}}" style={{pageStyle}}></div>{{/each}}</div>
