<h2>Infinite Scroll: Ember In-Viewport</h2>

{{code-snippet name="auto-load-more-basics.hbs"}}

{{#impagination-dataset
   fetch=fetch
   on-observe=(action "logDatasetState")
   page-size=15
   as |records|}}
  {{in-viewport did-enter=(action records.setReadOffset 0) setOffset=setOffset}}

  <div class="demo_records-wrapper">
    <div class="demo_records-list-container">
      {{#each records as |record index|}}
        <div class="demo_record" style={{color-block record.content.hsl}}>
          Record {{index}}
        </div>
      {{/each}}
    </div>
  </div>

  {{#if setOffset}}
    {{in-viewport did-enter=(action records.setReadOffset records.length) setOffset=setOffset}} 
  {{/if}}

  <button style="visibility:hidden"></button>

{{/impagination-dataset}}
