<div class="demo_inputs">
  <label for="read_offset">Initial Read Offset:</label>
  {{input value=initialReadOffset type=number id="read_offset"}}
  <label for="load_horizon">Load Horizon:</label>
  {{input value=loadHorizon type=number id="load_horizon"}}
  <label for="unload_horizon">Unload Horizon:</label>
  {{input value=unloadHorizon type=number id="unload_horizon"}}
  <label for="page_size">Page Size:</label>
  {{input value=pageSize type=number id="page_size"}}

  {{input type="checkbox" id="use_ember_collection" checked=isEmberCollection}}
  <label for="use_ember_collection">Toggle Ember Collection</label>
</div>

<div class="demo_dataset-wrapper">
  {{#impagination-dataset fetch=fetch ddau-extension=ddauExtension on-slice=(action "onSlice") on-init=(action 'initializeReadOffset') on-state=(action 'logDatasetState') load-horizon=loadHorizon page-size=pageSize as |records|}}

    <div class="records">Total Records: {{records.length}}</div>

    {{record-player lazy-pages=records.pages records=records loadHorizon=loadHorizon unloadHorizon=unloadHorizon}}
    <div class="demo_read-offset">Current Read Offset: {{records.readOffset}} </div>
    <div class="demo_records-wrapper">

      {{#if isEmberCollection}}
        <div class="demo_records-list-container" style="overflow: scroll; height: 500px; width: 600px;">

          {{#ember-collection
             items=records
             estimated-height=500px
             estimated-width=600px
             cell-layout=(fixed-grid-layout containerHeight itemHeight)
             scroll-left=scrollLeft scroll-top=scrollTop scroll-change=(action "scrollChange" records)
             as |record index|
          }}
            <div class="demo_record" style={{color-block record.content.hsl}}>Record {{index}}</div>
          {{/ember-collection}}
        </div>
      {{/if}}

      {{#if isVirtualEach}}
        <div class="demo_records-list-container" style="height: 500px; width: 600px;">
          {{#virtual-each records
             height=containerHeight
             itemHeight=itemHeight
             as |record index virtualIndex|
          }}
            <div class="demo_record" style={{color-block record.content.hsl}}>Record {{index}}</div>
          {{/virtual-each}}
        </div>
      {{/if}}

      {{#if isInViewport}}
        <div class="demo_records-list-container" style="overflow: scroll; height: 500px; width: 600px;">
          {{in-viewport did-enter=(action "setReadOffset" records (add records.readOffset records.loadHorizon))}}
          {{#each records as |record index|}}
            <div class="demo_record" style={{color-block record.content.hsl}}>Record {{index}}</div>
          {{/each}}
          {{in-viewport did-enter=(action "setReadOffset" records (add records.readOffset records.loadHorizon))}}
        </div>
      {{/if}}
    </div>
  {{/impagination-dataset}}
</div>
