<div class="demo_inputs">
  <label for="read_offset">Initial Read Offset:</label>
  {{input value=initialReadOffset type=number id="read_offset"}}
  <label for="load_horizon">Load Horizon:</label>
  {{input value=loadHorizon type=number id="load_horizon"}}
  <label for="unload_horizon">Unload Horizon:</label>
  {{input value=unloadHorizon type=number id="unload_horizon"}}
  <label for="page_size">Page Size:</label>
  {{input value=pageSize type=number id="page_size"}}

  {{input type="checkbox" id="use_ember_collection" checked=emberCollection}}
  <label for="use_ember_collection">Toggle Ember Collection</label>
</div>

<div class="demo_dataset-wrapper">
  {{#impagination-dataset fetch=fetch read-offset=initialReadOffset load-horizon=loadHorizon unload-horizon=unloadHorizon page-size=pageSize as |records|}}
    {{record-player  pages=records.pages records=records loadHorizon=loadHorizon unloadHorizon=unloadHorizon}}
    <div class="demo_read-offset">Current Read Offset: {{records.readOffset}} </div>
    <div class="demo_records-wrapper">
      <div class="demo_records-list-container" style="height: 500px; width: 600px;">
        {{#if emberCollection}}
          {{#ember-collection items=records estimated-height=500px  estimated-width=600px cell-layout=(fixed-grid-layout 600 70) as |record index|}}
            <div class="demo_record" style={{color-block record.content.hsl}}>Record {{index}}</div>
          {{/ember-collection}}
        {{else}}
          {{#virtual-each records
             height=500
             itemHeight=70
             as |record index virtualIndex|
          }}
            <div class="demo_record" style={{color-block record.content.hsl}}>Record {{index}}</div>
          {{/virtual-each}}
        {{/if}}
      </div>
    </div>
  {{/impagination-dataset}}
</div>
